<aside class="w-[30%] shrink-0 bg-neutral rounded-b-lg p-4">
  {{#if resume.skills}}
    <section class="mb-8">
      {{>category-title icons="fa-solid fa-screwdriver-wrench" label="Compétences"}}
      <div class="flex flex-wrap gap-2">
        {{#each resume.skills}}
          {{>badge label=name shouldBeMarked=(or (eq level "Master") (eq level "Expert"))}}
        {{/each}}
      </div>
    </section>
  {{/if}}
  {{#if resume.education}}
    <section class="mb-6">
      {{>category-title icons="fa-solid fa-graduation-cap" label="Etudes"}}
      {{#each resume.education}}
        <div class="mb-4">
          {{>experience-title label=studyType}}
          {{>subtitle label=institution link=url}}
          {{>dates startDate=startDate endDate=endDate}}
        </div>
      {{/each}}
    </section>
  {{/if}}
  {{#if resume.interests}}
    <section>
      {{>category-title icons="fa-solid fa-chess-knight" label="Centres d'intérêt"}}
      <div class="flex flex-wrap gap-2">
        {{#each resume.interests}}
          {{>badge label=name}}
        {{/each}}
      </div>
    </section>
  {{/if}}
</aside>