<aside class="w-1/4 shrink-0 bg-neutral p-4">
  <section class="mb-4">
    {{>category-title icons="fa-solid fa-screwdriver-wrench" label="Compétences"}}
  </section>
  <section class="mb-4">
    {{>category-title icons="fa-solid fa-graduation-cap" label="Etudes"}}
  </section>
  <section class="mb-4">
    {{>category-title icons="fa-solid fa-chess-knight" label="Centres d'intérêt"}}
  </section>
</aside>