<div
  class="flex bg-secondary p-1.5 text-sm min-w-16 justify-center rounded-3xl rounded-br-md font-medium items-center">
  {{#if shouldHaveCrown}}
    <i class="fa-solid fa-crown align-middle mr-1"></i>
  {{/if}}
  <pan>{{label}}</pan>
</div>