<div
  class="flex bg-secondary p-2.5 text-sm justify-center rounded-3xl rounded-br-md font-medium items-center">
  {{#if shouldBeMarked}}
    <i class="fa-solid fa-award align-middle mr-1"></i>
  {{/if}}
  <span>{{label}}</span>
</div>