<section class="mb-8">
  {{>experience-title label=title}}
  {{>subtitle label=subtitle link=link}}
  {{>dates startDate=startDate endDate=endDate}}
  <ul class="list-disc marker:text-secondary pl-5 mt-2">
    {{#each highlights as |highlight|}}
      <li class="mb-1.5 leading-[1.4rem] whitespace-pre-line">{{highlight}}</li>
    {{/each}}
  </ul>
</section>