{{#if link}}
  <a target="_blank" href="{{link}}" class="hover:underline decoration-secondary text-lg leading-3">{{label}}<i
    class="fa-solid fa-2xs fa-arrow-up-right-from-square text-secondary ml-1"></i></a>
{{else}}
  <p class="text-lg leading-4">{{label}}</p>
{{/if}}