<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/de8f2794e4.js" crossorigin="anonymous"></script>
  {{{ style }}}
</head>

<body class="bg-gray-100">
<main id="resume" class="block bg-white min-h-ha4 mx-auto my-5 w-wa4 p-2 shadow-lg">
  {{> header }}
  <div>

  </div>
</main>
</body>

</html>